h1{ 
    font-size:70px; 
} 

*{ 
    padding:0; 
    margin:0; 
    text-decoration: none; 
    list-style: none; 
    box-sizing: border-box; 
} 

body{ 
    font-family: 'Source Sans Pro', sans-serif; 
    background: rgb(29, 24, 24); 
} 
.logo2{
    width:200px;
}
.container1{ 
    width:100%; 
    padding-left:8%; 
    padding-right:8%; 
    box-sizing: border-box; 
    overflow: hidden; 
    background-color: rgb(18, 18, 18);
    } 

.logo{ 
    width:200px; 
    cursor:pointer; 
    margin:30px 0; 
} 

.menu-icon{ 
    width:25px;
    cursor:pointer; 
    display:none; 
} 

.navbar{ 
    width:100%; 
    display:flex; 
    align-items:center; 
} 

nav{ 
    flex:1; 
    text-align:right; 
} 
.cafelogo{
    width:90px;
}
nav ul li{ 
    list-style:none; 
    display:inline-block; 
    margin-right:50px; 
} 

nav ul li a{ 
    text-decoration:none; 
    color:rgb(231, 180, 92); 
    font-size :20px; 
    padding:10px 50px; 
    border-radius: 50px; 
} 
    
nav ul li a:hover{ 
    background-color:transparent;
    color:#f9004d;
    cursor:pointer;
    transition: .4s;
} 

.forsidebilde{ 
    width:100%;  
    height:500px; 
    object-fit: cover; 
} 

.container { 
    position: relative; 
    text-align: center; 
    color: white; 
    width:100%; 
    flex-basis:40%; 
} 

.centered { 
    position: absolute; 
    top: 50%; 
    left: 20%; 
    transform: translate(-50%, -50%); 
    font-size:90px ; 
    font-family: cursive;
} 

.square { 
    border-style:outset; 
    margin-top: -700px; 
    height: 1000px; 
    width: 700px; 
    background-color: rgb(255, 255, 234); 
    position: absolute; 
    margin-left:600px; 
    font-family:Arial, Helvetica, sans-serif; 
} 

.bilder{ 
    margin-left: auto; 
    margin-right: auto; 
} 

*{ 
    box-sizing: border-box; 
}  

body{ 
    margin:0; 
    padding:0; 
} 

.navbar1{ 
    display:flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: rgb(18, 18, 18); 
    color:rgb(255, 176, 112); 
    padding:20px;
}   

.velkommen{
    font-size:50px;
    padding:60px;
    font-family: 'Roboto', sans-serif;
    text-align:center;
    color: rgb(245, 180, 82);
}       

.logotittel{ 
    font-size:3rem; 
    margin: .5rem; 
    font-family:cursive;
}    

.navbar-links ul{ 
    margin:0; 
    padding:0; 
    display:flex; 
}  

.navbar-links li{        
    list-style:none; 
} 
.karolslogo{
    width:200px;
}

.menybilde{
    width:200px;
    margin-left:auto;
    margin-right:auto;
}

.reservasjonbilde{
    width:200px;
}

.omossbilde{
    width:200px;
}

.navbar-links li a { 
    text-decoration: none; 
    color:rgb(255, 157, 77); 
    padding:1rem; 
    display:block; 
} 
.toggle-button{ 
    position: absolute; 
    top: 1.5rem; 
    right:1rem; 
    display:none; 
    flex-direction: column; 
    justify-content: space-between; 
    width:31px; 
    height:21px; 
} 

.toggle-button .bar { 
    height:3px; 
    width: 100%; 
    background-color: rgb(250, 193, 122); 
    border-radius: 10px; 
} 

.service{
    background:beige;
    width:100%;
    padding: 100px 0px;
}
.title h2{
    color:black;
    font-size: 75px;
    width:1130px;
    margin: 30px auto;
    text-align: center;
    font-family: cursive;
}
.box{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 400px;
    width:335px;
    padding:20px 35px;
    border-radius: 20px;
    margin:15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: rgb(21, 21, 21);
    
}
h5{
    color:rgb(244, 181, 86);
    font-size:23px;
    margin-bottom: 15px;
}
.pra p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height:27px;
    margin-bottom: 25px;
}
.card .button{
    background-color: black;
    color:white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight:bold;
    padding:9px 30px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border:2px solid #f9004d;
    cursor:pointer;
}
@media (max-width:1100px){ 
.toggle-button{ 
    display:flex; 
    margin-top:40px;
    } 
.navbar-links{       
    display:none; 
    width:100%;   
    } 
.navbar1{ 
    flex-direction: column; 
    align-items: flex-start; 
    padding:.7rem;
    } 
.navbar-links ul{ 
    width:100%; 
    flex-direction:column; 
    } 
.navbar-links li{ 
    text-align:center; 
    } 
.navbar-links li a { 
    padding:.5rem 1rem; 
    } 
.navbar-links.active { 
    display:flex; 
    } 

.title h2{
    font-size:20px;
}
.services{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
}

.box {
    flex-direction: column;
    
}

.velkommen{
    font-size:30px;
}
.container .forsidebilde{
    height:200px;
    width:100%;
}
.logo2{
    width:200px;
}
} 
